# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [1]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = a.copy()
print(b)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [2]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
b = [1, 2, 3, 4, 5, 6]
last_three = b[-3:]
print(last_three)  # Output: [4, 5, 6]

[4, 5, 6]

In [4]:
# @@@ Question 3: Create a list of numbers from 1 to 20
numbers = list(range(1, 21))
print(numbers)  # Output: [1, 2, 3, 4, 5, ..., 20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
even_numbers = [number for number in range(1, 101) if number % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [10]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide_numbers(num1, num2):
    if num2 == 0:  # Check for division by zero
        return "Error: Division by zero is not allowed."
    return num1 / num2

result = divide_numbers(10, 2)
print(result)

5.0

In [11]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

def fizzbuzz():
    for num in range(1, 31):  # Iterate through numbers from 1 to 30
        if num % 3 == 0 and num % 5 == 0:  # Check if multiple of both 3 and 5
            print("fizzbuzz")
        elif num % 3 == 0:  # Check if multiple of 3
            print("fizz")
        elif num % 5 == 0:  # Check if multiple of 5
            print("buzz")
        else:  # If neither, print the number
            print(num)

fizzbuzz()

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [12]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

menu = {
    "Gyro": 9,
    "Burger": 9,
    "Greek Salad": 8,
    "Philly Steak": 10
}

print(menu)

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [22]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("MDST-Onboarding-Main/data/starbucks.csv")
type(df)

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# @@@ Question 9: select all rows with more than and including 400 calories

In [ ]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content

In [ ]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink

In [ ]:
# @@@ Question 12: what is the average calorie across all items?

In [ ]:
# @@@ Question 13: how many different categories of beverages are there?

In [ ]:
# @@@ Question 14: what is the average # calories for each beverage category?